<h1>Admin::Dashboard#show</h1>
<p><%= link_to "Number of products:", [:admin, :products] %>
  <%= @product_count %>
</p>
<p><%= link_to "Number of categories:", root_path %>
<%= @categories_count %>
</p> 
<p>
<%# <%= link_to "Go back the main page", root_path %>
</p>
<p>
<%# <%= link_to "Go to the admin products page", [:admin, :products] %>
</p>